Anaylize_GPW.json
{
  "name": "6_4 Akcje pomocnicze",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('sprawdź cenę akcji').item.json.close }}",
              "value2": "={{ $('Set - Ustaw wartości początkowe').item.json.cenaNiska }}"
            }
          ]
        }
      },
      "name": "Cena poniżej założonej?",
      "type": "n8n-nodes-base.if",
      "position": [
        720,
        120
      ],
      "typeVersion": 1,
      "id": "962771a2-3963-4ea9-84d7-5e5ab793201a"
    },
    {
      "parameters": {
        "chatId": "REDACTED_CHAT_ID",
        "text": "=akcje {{ $('Set - Ustaw wartości początkowe').item.json.walor }} taniej niż {{ $('Set - Ustaw wartości początkowe').item.json.cenaNiska }}! A dokładnie {{ $json.close }} PLN (cena z dnia {{ $json.date }})",
        "additionalFields": {}
      },
      "id": "ac2aa184-0a11-45d9-a4ef-0c88881c8e72",
      "name": "Powiadom o niskiej cenie",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1220,
        -80
      ],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram CLCbot cid 7167760033"
        }
      }
    },
    {
      "parameters": {
        "chatId": "REDACTED_CHAT_ID",
        "text": "=Błąd przepływu sprawdzającego akcje. Poddał się po {{$node[\"IF - cztery próby?\"].runIndex }} próbach. \n",
        "additionalFields": {}
      },
      "id": "f15029a2-fb3d-4e86-91be-a9ace722f1f2",
      "name": "Powiadom o błędzie",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        980,
        360
      ],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram CLCbot cid 7167760033"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "id": "2b653069-314d-41cd-a227-6090c04ee1c2",
      "name": "Codziennie o 17",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -120,
        280
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $('sprawdź cenę akcji').item.json.close }}",
              "operation": "larger",
              "value2": "={{ $('Set - Ustaw wartości początkowe').item.json.cenaWysoka }}"
            }
          ]
        }
      },
      "name": "Cena powyżej założonej?",
      "type": "n8n-nodes-base.if",
      "position": [
        1000,
        140
      ],
      "typeVersion": 1,
      "id": "a3cc8dc7-2c63-4955-a727-b3487f53147a"
    },
    {
      "parameters": {
        "chatId": "REDACTED_CHAT_ID",
        "text": "=akcje {{ $('Set - Ustaw wartości początkowe').item.json.walor }} drożej niż {{ $('Set - Ustaw wartości początkowe').item.json.cenaWysoka }}! A dokładnie {{ $json.close }} PLN (cena z dnia {{ $json.date }})",
        "additionalFields": {}
      },
      "id": "b4ef616a-20eb-4800-9e01-0824aa13d788",
      "name": "Powiadom o wysokiej cenie",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1220,
        120
      ],
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram CLCbot cid 7167760033"
        }
      }
    },
    {
      "parameters": {},
      "id": "64e61c8e-a5dd-4621-8978-ff5b68c415fc",
      "name": "Limit - tylko najnowszy wynik",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        500,
        120
      ]
    },
    {
      "parameters": {
        "content": "## węzły pomocnicze\ndo wyszukiwania giełd i walorów",
        "height": 332.09302325581393,
        "width": 514.4186046511626
      },
      "id": "0fa08eed-4012-4ccf-8697-9a83a0a2040a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -160
      ]
    },
    {
      "parameters": {},
      "name": "Zakończ pracę",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1220,
        360
      ],
      "typeVersion": 1,
      "id": "6645da33-29b4-4940-b726-e4f3a71c8fe6"
    },
    {
      "parameters": {
        "url": "=https://eodhd.com/api/eod/{{ $('Set - Ustaw wartości początkowe').item.json.walor }}.{{ $('Set - Ustaw wartości początkowe').item.json.rynek }}?api_token={{ $('Set - Ustaw wartości początkowe').item.json.klucz }}&fmt=json&from={{ DateTime.now().minus({days: 6}).toFormat('yyyy-MM-dd') }} ",
        "options": {
          "timeout": 10000
        }
      },
      "id": "bafd709f-bbff-443a-8e61-054de88367af",
      "name": "sprawdź cenę akcji",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        280
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": "={{ ($runIndex * 4) + 5 }}"
      },
      "id": "6543dbbe-9454-4f43-8acb-b9e947001fda",
      "name": "Wait - Czekaj",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        500,
        380
      ],
      "webhookId": "REDACTED_WEBHOOK_ID"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "672053b7-aae7-4660-9524-5a358081002f",
              "leftValue": "={{ $runIndex }}",
              "rightValue": 2,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "07e70067-2869-405b-b07c-8984fe126f70",
      "name": "IF - cztery próby?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        720,
        380
      ]
    },
    {
      "parameters": {
        "url": "https://eodhd.com/api/exchanges-list/?api_token=KLUCZ.API&fmt=json",
        "options": {}
      },
      "id": "278b2e0b-11a0-467e-bded-8c5ad27f21c8",
      "name": "Lista giełd",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -100,
        -40
      ]
    },
    {
      "parameters": {
        "url": "https://eodhd.com/api/exchange-symbol-list/WAR?api_token=KLUCZ.API&fmt=json",
        "options": {}
      },
      "id": "e22e48b7-3aef-4719-bc21-5ca7a7c056ca",
      "name": "Lista notowań z GPW",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        -40
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c00c4dda-0fa4-47bf-b1f1-adc299d1563f",
              "name": "cenaNiska",
              "value": 120,
              "type": "number"
            },
            {
              "id": "16768649-3948-443c-954c-99287725e8f2",
              "name": "walor",
              "value": "PKN",
              "type": "string"
            },
            {
              "id": "0c5e6567-8bd4-4f6b-99c3-9a271b8830cc",
              "name": "klucz",
              "value": "KLUCZ.API",
              "type": "string"
            },
            {
              "id": "d8b6b57d-fafd-439d-89de-b6219baea3b0",
              "name": "rynek",
              "value": "WAR",
              "type": "string"
            },
            {
              "id": "1860f4f8-3b17-4490-b196-b941ec109071",
              "name": "cenaWysoka",
              "value": 120,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "8ca0ae07-69ad-4aa2-8e44-d0cc450f894f",
      "name": "Set - Ustaw wartości początkowe",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        280
      ]
    }
  ],
  "pinData": {
    "Lista notowań z GPW": [
      {
        "json": {
          "Code": "06N",
          "Name": "Magna Polonia SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLNFI0600010"
        }
      },
      {
        "json": {
          "Code": "08N",
          "Name": "NFI Octava SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLNFI0800016"
        }
      },
      {
        "json": {
          "Code": "11B",
          "Name": "11 bit studios S.A",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PL11BTS00015"
        }
      },
      {
        "json": {
          "Code": "1AT",
          "Name": "Atal SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLATAL000046"
        }
      },
      {
        "json": {
          "Code": "3RG",
          "Name": "3R Games SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLGRNKT00019"
        }
      },
      {
        "json": {
          "Code": "4MB",
          "Name": "4Mobility SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLESLTN00010"
        }
      },
      {
        "json": {
          "Code": "4MS",
          "Name": "4Mass SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PL4MASS00011"
        }
      },
      {
        "json": {
          "Code": "7FT",
          "Name": "7Fit SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTRCPS00016"
        }
      },
      {
        "json": {
          "Code": "7LV",
          "Name": "7Levels SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PL7LVLS00017"
        }
      },
      {
        "json": {
          "Code": "AAS",
          "Name": "Arts Alliance GK SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMIDVN00017"
        }
      },
      {
        "json": {
          "Code": "AAT",
          "Name": "Alta S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTRNSU00013"
        }
      },
      {
        "json": {
          "Code": "ABE",
          "Name": "AB S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLAB00000019"
        }
      },
      {
        "json": {
          "Code": "ABK",
          "Name": "Abak SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLABAK000013"
        }
      },
      {
        "json": {
          "Code": "ABS",
          "Name": "Asseco Business Solutions S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLABS0000018"
        }
      },
      {
        "json": {
          "Code": "ACG",
          "Name": "AC S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLACSA000014"
        }
      },
      {
        "json": {
          "Code": "ACP",
          "Name": "Asseco Poland S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSOFTB00016"
        }
      },
      {
        "json": {
          "Code": "ACT",
          "Name": "Action SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLACTIN00018"
        }
      },
      {
        "json": {
          "Code": "ADV",
          "Name": "Adiuvo Investment SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLADVIV00015"
        }
      },
      {
        "json": {
          "Code": "ADX",
          "Name": "ADX",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "AGL",
          "Name": "Agroliga Group PLC",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "AGO",
          "Name": "Agora S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLAGORA00067"
        }
      },
      {
        "json": {
          "Code": "AGT",
          "Name": "Agroton Public Ltd.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "CY0101062111"
        }
      },
      {
        "json": {
          "Code": "AIT",
          "Name": "Aiton",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLATCDL00013"
        }
      },
      {
        "json": {
          "Code": "ALE",
          "Name": "Allegro.eu S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "LU2237380790"
        }
      },
      {
        "json": {
          "Code": "ALG",
          "Name": "All In! Games S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSNTFG00017"
        }
      },
      {
        "json": {
          "Code": "ALI",
          "Name": "Altustfi",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLATTFI00018"
        }
      },
      {
        "json": {
          "Code": "ALL",
          "Name": "Ailleron S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLWNDMB00010"
        }
      },
      {
        "json": {
          "Code": "ALR",
          "Name": "Alior Bank S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLALIOR00045"
        }
      },
      {
        "json": {
          "Code": "AMB",
          "Name": "Ambra SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLAMBRA00013"
        }
      },
      {
        "json": {
          "Code": "AMC",
          "Name": "Amica S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLAMICA00010"
        }
      },
      {
        "json": {
          "Code": "AMV",
          "Name": "Asmodev S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "ANR",
          "Name": "Answear.com S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLANSWR00019"
        }
      },
      {
        "json": {
          "Code": "AOL",
          "Name": "AOL",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "APA",
          "Name": "APA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "APE",
          "Name": "APS Energia S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLAPSEN00011"
        }
      },
      {
        "json": {
          "Code": "APL",
          "Name": "Ampli SA w upadlosci ukladowej",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLAMPLI00019"
        }
      },
      {
        "json": {
          "Code": "APN",
          "Name": "Aplisens SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLAPLS000016"
        }
      },
      {
        "json": {
          "Code": "APR",
          "Name": "Auto Partner SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLATPRT00018"
        }
      },
      {
        "json": {
          "Code": "APS",
          "Name": "Automatyka Pomiary Sterowanie SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPOMST00012"
        }
      },
      {
        "json": {
          "Code": "APT",
          "Name": "Apator S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLAPATR00018"
        }
      },
      {
        "json": {
          "Code": "AQA",
          "Name": "AQA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "AQT",
          "Name": "AQT Water SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLAQTCH00013"
        }
      },
      {
        "json": {
          "Code": "AQU",
          "Name": "Aquabb",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLAQUA000014"
        }
      },
      {
        "json": {
          "Code": "ARH",
          "Name": "Archicom S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLARHCM00016"
        }
      },
      {
        "json": {
          "Code": "ART",
          "Name": "Artifex Mundi SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLARTFX00011"
        }
      },
      {
        "json": {
          "Code": "ASB",
          "Name": "ASBISc Enterprises PLC",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "CY1000031710"
        }
      },
      {
        "json": {
          "Code": "ASE",
          "Name": "Asseco South Eastern Europe S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLASSEE00014"
        }
      },
      {
        "json": {
          "Code": "ASR",
          "Name": "ASR",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "AST",
          "Name": "Astarta Holding N.V.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "NL0000686509"
        }
      },
      {
        "json": {
          "Code": "ATA",
          "Name": "ATA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "ATC",
          "Name": "Arctic Paper SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLARTPR00012"
        }
      },
      {
        "json": {
          "Code": "ATD",
          "Name": "Atende S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLATMSI00016"
        }
      },
      {
        "json": {
          "Code": "ATG",
          "Name": "ATM Grupa S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLATM0000021"
        }
      },
      {
        "json": {
          "Code": "ATJ",
          "Name": "Atomic Jelly S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "ATP",
          "Name": "Atlanta Poland SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLATLPL00018"
        }
      },
      {
        "json": {
          "Code": "ATR",
          "Name": "Atrem S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLATREM00017"
        }
      },
      {
        "json": {
          "Code": "ATS",
          "Name": "Atlantis S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "EE3100063686"
        }
      },
      {
        "json": {
          "Code": "ATT",
          "Name": "Grupa Azoty SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLZATRM00012"
        }
      },
      {
        "json": {
          "Code": "AUX",
          "Name": "Auxilia SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLAXILA00018"
        }
      },
      {
        "json": {
          "Code": "AVE",
          "Name": "Advertigo S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "AWM",
          "Name": "Airway",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLAIRWY00017"
        }
      },
      {
        "json": {
          "Code": "AZC",
          "Name": "Aztec",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLAZTEC00011"
        }
      },
      {
        "json": {
          "Code": "B24",
          "Name": "Brand 24 SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBRN2400013"
        }
      },
      {
        "json": {
          "Code": "BAH",
          "Name": "British Automotive Holding S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMRVPL00016"
        }
      },
      {
        "json": {
          "Code": "BBD",
          "Name": "BBI Development SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLNFI1200018"
        }
      },
      {
        "json": {
          "Code": "BBT",
          "Name": "BoomBit S.A",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBMBIT00010"
        }
      },
      {
        "json": {
          "Code": "BCM",
          "Name": "Betacom S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBTCOM00016"
        }
      },
      {
        "json": {
          "Code": "BCS",
          "Name": "Big Cheese Studio S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "BCX",
          "Name": "Bioceltix S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "BDX",
          "Name": "Budimex S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBUDMX00013"
        }
      },
      {
        "json": {
          "Code": "BDZ",
          "Name": "Elektrocieplownia Bedzin",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLECBDZ00013"
        }
      },
      {
        "json": {
          "Code": "BEE",
          "Name": "BeeIN S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "BEP",
          "Name": "Biomass",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBMSEP00011"
        }
      },
      {
        "json": {
          "Code": "BFT",
          "Name": "Benefit Systems SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBNFTS00018"
        }
      },
      {
        "json": {
          "Code": "BGD",
          "Name": "BGD",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "BHW",
          "Name": "Bank Handlowy w Warszawie SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBH00000012"
        }
      },
      {
        "json": {
          "Code": "BHX",
          "Name": "Binary Helix SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBNRHL00013"
        }
      },
      {
        "json": {
          "Code": "BIO",
          "Name": "Bioton S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBIOTN00029"
        }
      },
      {
        "json": {
          "Code": "BIP",
          "Name": "Bio Planet SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBIOPL00013"
        }
      },
      {
        "json": {
          "Code": "BKD",
          "Name": "Baked Games S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "BLO",
          "Name": "Bloober Team SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "BLT",
          "Name": "Balticon",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBLT0000013"
        }
      },
      {
        "json": {
          "Code": "BMC",
          "Name": "Bumech S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBMECH00012"
        }
      },
      {
        "json": {
          "Code": "BMX",
          "Name": "Biomaxima",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBIOMX00015"
        }
      },
      {
        "json": {
          "Code": "BNP",
          "Name": "BNP Paribas Bank Polska S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBGZ0000010"
        }
      },
      {
        "json": {
          "Code": "BOS",
          "Name": "Bank Ochrony Środowiska SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBOS0000019"
        }
      },
      {
        "json": {
          "Code": "BOW",
          "Name": "Bowim S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBOWM000019"
        }
      },
      {
        "json": {
          "Code": "BPC",
          "Name": "Black Pearl SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBLKPC00014"
        }
      },
      {
        "json": {
          "Code": "BPN",
          "Name": "Blackpoin",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBLKPT00018"
        }
      },
      {
        "json": {
          "Code": "BRA",
          "Name": "Braster S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBRSTR00014"
        }
      },
      {
        "json": {
          "Code": "BRO",
          "Name": "Browar Czarnkow SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBRWRG00013"
        }
      },
      {
        "json": {
          "Code": "BRP",
          "Name": "Black Rose Projects S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "BRS",
          "Name": "Boryszew SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBRSZW00011"
        }
      },
      {
        "json": {
          "Code": "BSH",
          "Name": "Bridge Solutions Hub S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "BST",
          "Name": "Best SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBEST000010"
        }
      },
      {
        "json": {
          "Code": "BTK",
          "Name": "Biztech Konsulting SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBZTKN00013"
        }
      },
      {
        "json": {
          "Code": "CAI",
          "Name": "Carlson Investments SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLHOTB000011"
        }
      },
      {
        "json": {
          "Code": "CAR",
          "Name": "Inter Cars S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLINTCS00010"
        }
      },
      {
        "json": {
          "Code": "CAV",
          "Name": "Cavatina Holding S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCVTNH00040"
        }
      },
      {
        "json": {
          "Code": "CBD",
          "Name": "Cannabis Poland S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "CBF",
          "Name": "Cyber_Folks S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "CCC",
          "Name": "CCC S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCCC0000016"
        }
      },
      {
        "json": {
          "Code": "CCE",
          "Name": "Clean & Carbon Energy S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLKAREN00014"
        }
      },
      {
        "json": {
          "Code": "CCR",
          "Name": "Constance Care S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "CCS",
          "Name": "Ccs",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCCS0000012"
        }
      },
      {
        "json": {
          "Code": "CDA",
          "Name": "CDA SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCDA0000018"
        }
      },
      {
        "json": {
          "Code": "CDL",
          "Name": "CDRL SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCDRL000043"
        }
      },
      {
        "json": {
          "Code": "CDR",
          "Name": "CD PROJEKT SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLOPTTC00011"
        }
      },
      {
        "json": {
          "Code": "CEZ",
          "Name": "CEZ as",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "CZ0005112300"
        }
      },
      {
        "json": {
          "Code": "CFG",
          "Name": "Creativeforge Games SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCRFRG00016"
        }
      },
      {
        "json": {
          "Code": "CFI",
          "Name": "CFI Holding SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLINTKS00013"
        }
      },
      {
        "json": {
          "Code": "CFS",
          "Name": "Centrum Finansowe Banku BPS SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCFBPS00019"
        }
      },
      {
        "json": {
          "Code": "CHP",
          "Name": "CHP",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "CIG",
          "Name": "CI Games SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCTINT00018"
        }
      },
      {
        "json": {
          "Code": "CLA",
          "Name": "Console Labs S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "CLC",
          "Name": "Columbus",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSTIGR00012"
        }
      },
      {
        "json": {
          "Code": "CLD",
          "Name": "Cloud Technologies S.A",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCLDTC00019"
        }
      },
      {
        "json": {
          "Code": "CLE",
          "Name": "Coal Energy S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "LU0646112838"
        }
      },
      {
        "json": {
          "Code": "CLN",
          "Name": "Celon Pharma SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCLNPH00015"
        }
      },
      {
        "json": {
          "Code": "CMP",
          "Name": "Comp SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCMP0000017"
        }
      },
      {
        "json": {
          "Code": "CMR",
          "Name": "Comarch SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCOMAR00012"
        }
      },
      {
        "json": {
          "Code": "COG",
          "Name": "Cognor S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCNTSL00014"
        }
      },
      {
        "json": {
          "Code": "COS",
          "Name": "Cosma Group S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "CPA",
          "Name": "Capital Partners S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCPTLP00015"
        }
      },
      {
        "json": {
          "Code": "CPD",
          "Name": "CPD SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCELPD00013"
        }
      },
      {
        "json": {
          "Code": "CPL",
          "Name": "Comperia.pl S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCOMPR00010"
        }
      },
      {
        "json": {
          "Code": "CPR",
          "Name": "Compremum S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "CPS",
          "Name": "Cyfrowy Polsat SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCFRPT00013"
        }
      },
      {
        "json": {
          "Code": "CRB",
          "Name": "Carbon Studio S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "CRI",
          "Name": "Creotech Instruments S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "CRJ",
          "Name": "Creepy Jar SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCRPJR00019"
        }
      },
      {
        "json": {
          "Code": "CRM",
          "Name": "PZ Cormay SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCMRAY00029"
        }
      },
      {
        "json": {
          "Code": "CSR",
          "Name": "Caspar",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCSPAM00017"
        }
      },
      {
        "json": {
          "Code": "CTS",
          "Name": "City Service SE",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "EE3100126368"
        }
      },
      {
        "json": {
          "Code": "CTX",
          "Name": "Captor Therapeutics S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCPTRT00014"
        }
      },
      {
        "json": {
          "Code": "CZT",
          "Name": "Czerwona Torebka",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCRWTR00022"
        }
      },
      {
        "json": {
          "Code": "DAD",
          "Name": "Dadelo S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLDADEL00013"
        }
      },
      {
        "json": {
          "Code": "DAT",
          "Name": "Datawalk SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPILAB00012"
        }
      },
      {
        "json": {
          "Code": "DBC",
          "Name": "Firma Oponiarska DĘBICA SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLDEBCA00016"
        }
      },
      {
        "json": {
          "Code": "DBE",
          "Name": "DB Energy S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "DCR",
          "Name": "Decora SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLDECOR00013"
        }
      },
      {
        "json": {
          "Code": "DDI",
          "Name": "Draw Distance SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLIFN4L00018"
        }
      },
      {
        "json": {
          "Code": "DEG",
          "Name": "Detalion Games S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "DEK",
          "Name": "Dekpol SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLDEKPL00032"
        }
      },
      {
        "json": {
          "Code": "DEL",
          "Name": "Delko S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLDELKO00019"
        }
      },
      {
        "json": {
          "Code": "DEV",
          "Name": "Devoran SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLVGUAR00011"
        }
      },
      {
        "json": {
          "Code": "DGA",
          "Name": "DGA Spólka Akcyjna",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLDGA0000019"
        }
      },
      {
        "json": {
          "Code": "DGE",
          "Name": "Drago entertainment S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "DGN",
          "Name": "DG-Net S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "DIG",
          "Name": "Digital Network S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "DKR",
          "Name": "Dektra SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLDKTRA00013"
        }
      },
      {
        "json": {
          "Code": "DNP",
          "Name": "Dino Polska SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLDINPL00011"
        }
      },
      {
        "json": {
          "Code": "DNS",
          "Name": "Danks",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLDANKS00014"
        }
      },
      {
        "json": {
          "Code": "DOM",
          "Name": "Dom Development S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLDMDVL00012"
        }
      },
      {
        "json": {
          "Code": "DPL",
          "Name": "Drozapol-Profil SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLDRZPL00032"
        }
      },
      {
        "json": {
          "Code": "DRF",
          "Name": "Dr.Finance SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLDRD2400010"
        }
      },
      {
        "json": {
          "Code": "DRG",
          "Name": "Drageus Games S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "DTR",
          "Name": "Digitree Group S.A",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSARE000013"
        }
      },
      {
        "json": {
          "Code": "DTX",
          "Name": "Ditix SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLFTPRF00016"
        }
      },
      {
        "json": {
          "Code": "DUA",
          "Name": "Duality SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLDLITY00010"
        }
      },
      {
        "json": {
          "Code": "DVL",
          "Name": "Develia S.A",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLLCCRP00017"
        }
      },
      {
        "json": {
          "Code": "EAH",
          "Name": "Esotiq & Henderson S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLESTHN00018"
        }
      },
      {
        "json": {
          "Code": "EAT",
          "Name": "AmRest Holdings SE",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "ES0105375002"
        }
      },
      {
        "json": {
          "Code": "EBX",
          "Name": "Ekobox",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLEKOBX00018"
        }
      },
      {
        "json": {
          "Code": "ECC",
          "Name": "ECC Games SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLECCGM00012"
        }
      },
      {
        "json": {
          "Code": "ECH",
          "Name": "Echo Investment SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLECHPS00019"
        }
      },
      {
        "json": {
          "Code": "ECK",
          "Name": "Eurosnack",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLERSNK00016"
        }
      },
      {
        "json": {
          "Code": "ECL",
          "Name": "Easycall",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLESCLL00010"
        }
      },
      {
        "json": {
          "Code": "ECT",
          "Name": "eco5tech S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "EDI",
          "Name": "ED Invest S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLEDINV00014"
        }
      },
      {
        "json": {
          "Code": "EEE",
          "Name": "Ekipa Holding S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "EEX",
          "Name": "Eko Export SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLEKEP000019"
        }
      },
      {
        "json": {
          "Code": "EFE",
          "Name": "Europejski Fundusz Energii SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLINTRW00028"
        }
      },
      {
        "json": {
          "Code": "EFK",
          "Name": "Korporacja Gospodarcza efekt S.A",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLEFEKT00018"
        }
      },
      {
        "json": {
          "Code": "EGH",
          "Name": "Ekopol",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLEKPLG00019"
        }
      },
      {
        "json": {
          "Code": "EHG",
          "Name": "EuroHold Bulgaria AD",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "BG1100114062"
        }
      },
      {
        "json": {
          "Code": "EKP",
          "Name": "Elkop SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLELKOP00013"
        }
      },
      {
        "json": {
          "Code": "EKS",
          "Name": "Ekiosk",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLEKOSK00019"
        }
      },
      {
        "json": {
          "Code": "ELQ",
          "Name": "ELQ SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLIPOSA00010"
        }
      },
      {
        "json": {
          "Code": "ELT",
          "Name": "Elektrotim SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLELEKT00016"
        }
      },
      {
        "json": {
          "Code": "EMC",
          "Name": "EMC Instytut Medyczny SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLEMCIM00017"
        }
      },
      {
        "json": {
          "Code": "EMP",
          "Name": "Emplocity S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "ENA",
          "Name": "Enea S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLENEA000013"
        }
      },
      {
        "json": {
          "Code": "ENE",
          "Name": "Centrum Medyczne ENEL-MED SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLENLMD00017"
        }
      },
      {
        "json": {
          "Code": "ENG",
          "Name": "Energa S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLENERG00022"
        }
      },
      {
        "json": {
          "Code": "ENI",
          "Name": "Energoinstal S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLERGIN00015"
        }
      },
      {
        "json": {
          "Code": "ENP",
          "Name": "Energoaparatura S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLENAP000010"
        }
      },
      {
        "json": {
          "Code": "ENT",
          "Name": "Enter Air S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLENTER00017"
        }
      },
      {
        "json": {
          "Code": "EON",
          "Name": "Eonet",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLEONTW00016"
        }
      },
      {
        "json": {
          "Code": "EPR",
          "Name": "Przedsiebiorstwo Robot Instalacyjnych Ekopark SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPRIPK00018"
        }
      },
      {
        "json": {
          "Code": "ERB",
          "Name": "Erbud SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLERBUD00012"
        }
      },
      {
        "json": {
          "Code": "ERG",
          "Name": "ERG S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLERGZB00014"
        }
      },
      {
        "json": {
          "Code": "ESG",
          "Name": "E-shopping Group S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "ETFBCASH",
          "Name": "Beta ETF Obligacji 6M",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "ETF",
          "Isin": "PLBETWT00010"
        }
      },
      {
        "json": {
          "Code": "ETFBM40TR",
          "Name": "Beta mWIG40TR Portfelowy FIZ",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "ETF",
          "Isin": "PLBETF400025"
        }
      },
      {
        "json": {
          "Code": "ETFBNDXPL",
          "Name": "Beta ETF Nasdaq-100 PLN-Hedged Portfelowy Fundusz Inwestycyjny Zamkniety",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "ETF",
          "Isin": "PLBETFN00018"
        }
      },
      {
        "json": {
          "Code": "ETFBS80TR",
          "Name": "Beta ETF sWIG80TR Portfelowy FIZ",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "ETF",
          "Isin": "PLBSWTR00014"
        }
      },
      {
        "json": {
          "Code": "ETFBSPXPL",
          "Name": "Beta ETF S&P 500 PLN-Hedged Portfelowy Fundusz Inwestycyjny Zamkniety",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "ETF",
          "Isin": "PLBETFS00017"
        }
      },
      {
        "json": {
          "Code": "ETFBTBSP",
          "Name": "BETA ETF WIG20SHORT PCIF - BETA ETF TBSP PCIF",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "ETF",
          "Isin": "PLBTBSP00012"
        }
      },
      {
        "json": {
          "Code": "ETFBW20LV",
          "Name": "Beta ETF WIG20lev Potrfelowy Fundusz Inwestycyjny Zamkniety",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "ETF",
          "Isin": "PLBEW2L00019"
        }
      },
      {
        "json": {
          "Code": "ETFBW20ST",
          "Name": "Beta ETF WIG20Short PCIF - Investment Certificates ETF",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "ETF",
          "Isin": "PLBETF200011"
        }
      },
      {
        "json": {
          "Code": "ETFBW20TR",
          "Name": "Beta WIG20TR Portfelowy FIZ",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "ETF",
          "Isin": "PLBTETF00015"
        }
      },
      {
        "json": {
          "Code": "ETFDAX",
          "Name": "MULTI-UNITS LUXEMBOURG - Lyxor DAX (DR) UCITS ETF",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "ETF",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "ETFSP500",
          "Name": "Lyxor S&P 500 UCITS ETF - D-EUR",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "ETF",
          "Isin": "LU0496786574"
        }
      },
      {
        "json": {
          "Code": "ETL",
          "Name": "Eurotel SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLERTEL00011"
        }
      },
      {
        "json": {
          "Code": "ETX",
          "Name": "Euro-Tax.pl S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLEURTX00012"
        }
      },
      {
        "json": {
          "Code": "EUC",
          "Name": "Europejskie Centrum Odszkodowań SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLERPCO00017"
        }
      },
      {
        "json": {
          "Code": "EUR",
          "Name": "Eurocash S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLEURCH00011"
        }
      },
      {
        "json": {
          "Code": "EXA",
          "Name": "Examobile SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLEXMBL00010"
        }
      },
      {
        "json": {
          "Code": "EXC",
          "Name": "EXC",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "EXM",
          "Name": "E Xim IT S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "F51",
          "Name": "Farm51",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLFRMGR00015"
        }
      },
      {
        "json": {
          "Code": "FEE",
          "Name": "Feerum S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLFEERM00018"
        }
      },
      {
        "json": {
          "Code": "FEM",
          "Name": "Femion Technology S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "FER",
          "Name": "Ferrum S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLFERUM00014"
        }
      },
      {
        "json": {
          "Code": "FFI",
          "Name": "Fast Finance SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLFSTFC00012"
        }
      },
      {
        "json": {
          "Code": "FHD",
          "Name": "Fundusz Hipoteczny Dom SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLFHDOM00010"
        }
      },
      {
        "json": {
          "Code": "FIG",
          "Name": "FIG",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "FMG",
          "Name": "One SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTHP0000011"
        }
      },
      {
        "json": {
          "Code": "FON",
          "Name": "Fon SE",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "EE3100005166"
        }
      },
      {
        "json": {
          "Code": "FOR",
          "Name": "Foreveren",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLFRENT00014"
        }
      },
      {
        "json": {
          "Code": "FRO",
          "Name": "Ferro S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLFERRO00016"
        }
      },
      {
        "json": {
          "Code": "FRW",
          "Name": "Frozen Way S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "FSG",
          "Name": "FASING SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLFSING00010"
        }
      },
      {
        "json": {
          "Code": "FTE",
          "Name": "Fabryki Mebli Forte S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLFORTE00012"
        }
      },
      {
        "json": {
          "Code": "FTH",
          "Name": "Fintech SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLJRSDB00015"
        }
      },
      {
        "json": {
          "Code": "FTL",
          "Name": "Foothills S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "FVE",
          "Name": "FVE",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "GAL",
          "Name": "Galvo",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLGALVO00017"
        }
      },
      {
        "json": {
          "Code": "GDC",
          "Name": "Gamedust S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "GEA",
          "Name": "Grenevia S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLFAMUR00012"
        }
      },
      {
        "json": {
          "Code": "GEN",
          "Name": "Genomed S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "GIF",
          "Name": "Gaming Factory S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLGMNGF00017"
        }
      },
      {
        "json": {
          "Code": "GIG",
          "Name": "GI Group Poland S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "GKI",
          "Name": "Immobile",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMAKRM00019"
        }
      },
      {
        "json": {
          "Code": "GKS",
          "Name": "GKS GieKSa Katowice SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLGKS0000016"
        }
      },
      {
        "json": {
          "Code": "GMB",
          "Name": "Games Box S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "GME",
          "Name": "Gremi Media S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "GMT",
          "Name": "Genomtec S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "GMV",
          "Name": "Gamivo S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "GMZ",
          "Name": "Grupa Modne Zakupy S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "GNG",
          "Name": "GNG",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "GOB",
          "Name": "Gobarto S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLDUDA000016"
        }
      },
      {
        "json": {
          "Code": "GOP",
          "Name": "Games Operators SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLGMSOP00019"
        }
      },
      {
        "json": {
          "Code": "GOV",
          "Name": "GOV",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "GPH",
          "Name": "Advanced Graphene Products S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "GPP",
          "Name": "Grupa Pracuj S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "GPW",
          "Name": "Gielda Papierow Wartosciowych w Warszawie SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLGPW0000017"
        }
      },
      {
        "json": {
          "Code": "GRC",
          "Name": "Grupa Recykl SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLRCKL000010"
        }
      },
      {
        "json": {
          "Code": "GRM",
          "Name": "Grempco",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLGRMPC00016"
        }
      },
      {
        "json": {
          "Code": "GRN",
          "Name": "Grodno S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLGRODN00015"
        }
      },
      {
        "json": {
          "Code": "GRX",
          "Name": "GreenX Metals Ltd.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "GTC",
          "Name": "Globe Trade Centre S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLGTC0000037"
        }
      },
      {
        "json": {
          "Code": "GTN",
          "Name": "Getin Holding SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLGSPR000014"
        }
      },
      {
        "json": {
          "Code": "GTS",
          "Name": "Geotrans SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLGEOTR00010"
        }
      },
      {
        "json": {
          "Code": "GX1",
          "Name": "Genxone SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLGENXN00013"
        }
      },
      {
        "json": {
          "Code": "HDR",
          "Name": "HYDROTOR SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLHDRTR00013"
        }
      },
      {
        "json": {
          "Code": "HEL",
          "Name": "Helio SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLHELIO00014"
        }
      },
      {
        "json": {
          "Code": "HMI",
          "Name": "HM Inwest S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLHMINW00016"
        }
      },
      {
        "json": {
          "Code": "HMP",
          "Name": "HMP",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "HOR",
          "Name": "HOR",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "HPM",
          "Name": "HiProMine S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "HPS",
          "Name": "Hydrapres",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLHDRAP00017"
        }
      },
      {
        "json": {
          "Code": "HRC",
          "Name": "Grupa HRC S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "HRP",
          "Name": "Harper Hygienics S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLHRPHG00023"
        }
      },
      {
        "json": {
          "Code": "HRS",
          "Name": "Herkules S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLZRWZW00012"
        }
      },
      {
        "json": {
          "Code": "HRT",
          "Name": "Hurtimex SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLHRTIM00013"
        }
      },
      {
        "json": {
          "Code": "HUB",
          "Name": "HubStyle S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLGRNKT00019"
        }
      },
      {
        "json": {
          "Code": "HUG",
          "Name": "Huuuge Inc.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "IBC",
          "Name": "IBC",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "IBS",
          "Name": "Noble Financials SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPLPGR00010"
        }
      },
      {
        "json": {
          "Code": "ICE",
          "Name": "Medinice S.A",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMDNCE00016"
        }
      },
      {
        "json": {
          "Code": "ICG",
          "Name": "Ice Code Games S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "IDH",
          "Name": "IDH Development S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "IDM",
          "Name": "Dom Maklerski IDM SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLIDMSA00044"
        }
      },
      {
        "json": {
          "Code": "IFA",
          "Name": "Infra SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLINFRA00015"
        }
      },
      {
        "json": {
          "Code": "IFC",
          "Name": "Investment Friends Capital SE",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "EE3100065392"
        }
      },
      {
        "json": {
          "Code": "IFI",
          "Name": "IFirma SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPWRMD00011"
        }
      },
      {
        "json": {
          "Code": "IGT",
          "Name": "Igoria Trade S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "IIA",
          "Name": "Immofinanz AG",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "AT0000A21KS2"
        }
      },
      {
        "json": {
          "Code": "IMC",
          "Name": "IMC SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "LU0607203980"
        }
      },
      {
        "json": {
          "Code": "IMG",
          "Name": "IMG",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "IMP",
          "Name": "Impera Capital S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLNFI0700018"
        }
      },
      {
        "json": {
          "Code": "IMR",
          "Name": "Intermarum S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "IMS",
          "Name": "IMS SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLINTMS00019"
        }
      },
      {
        "json": {
          "Code": "INC",
          "Name": "INC S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLINCLT00015"
        }
      },
      {
        "json": {
          "Code": "ING",
          "Name": "ING Bank Śląski SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBSK0000017"
        }
      },
      {
        "json": {
          "Code": "INK",
          "Name": "INSTAL KRAKÓW SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLINSTK00013"
        }
      },
      {
        "json": {
          "Code": "INL",
          "Name": "Introl S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLINTRL00013"
        }
      },
      {
        "json": {
          "Code": "INM",
          "Name": "INM",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "INP",
          "Name": "Inpro SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLINPRO00015"
        }
      },
      {
        "json": {
          "Code": "INS",
          "Name": "Indos S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "INT",
          "Name": "Internity S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "IPE",
          "Name": "Ipopema Securities SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLIPOPM00011"
        }
      },
      {
        "json": {
          "Code": "IPO",
          "Name": "Intersport Polska S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLINTSP00038"
        }
      },
      {
        "json": {
          "Code": "IPW",
          "Name": "Image Power S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "IRL",
          "Name": "INTER RAO Lietuva AB",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "LT0000128621"
        }
      },
      {
        "json": {
          "Code": "ITB",
          "Name": "Interbud-Lublin SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLINTBD00014"
        }
      },
      {
        "json": {
          "Code": "ITX",
          "Name": "Industria de Diseno Textil S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "IUS",
          "Name": "IUS",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "IVE",
          "Name": "IVE",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "IVO",
          "Name": "Incuvo S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "IWS",
          "Name": "Iron Wolf Studio S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "IZB",
          "Name": "Izoblok",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLIZBLK00010"
        }
      },
      {
        "json": {
          "Code": "IZO",
          "Name": "Izolacja Jarocin SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLIZCJR00017"
        }
      },
      {
        "json": {
          "Code": "IZS",
          "Name": "Izostal SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLIZSTL00015"
        }
      },
      {
        "json": {
          "Code": "JJB",
          "Name": "Jujubee SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLJJBEE00028"
        }
      },
      {
        "json": {
          "Code": "JMT",
          "Name": "Jeronimo Martins SGPS S/A",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "JRC",
          "Name": "JRC Group S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "JSW",
          "Name": "Jastrzebska Spotka Weglowa SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLJSW0000015"
        }
      },
      {
        "json": {
          "Code": "JWW",
          "Name": "Jwwinvest",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLJWWNT00018"
        }
      },
      {
        "json": {
          "Code": "K2P",
          "Name": "Kool2play SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLKL2PL00014"
        }
      },
      {
        "json": {
          "Code": "KBJ",
          "Name": "Kbj",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLKBJ0000016"
        }
      },
      {
        "json": {
          "Code": "KBT",
          "Name": "KBT",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "KCH",
          "Name": "Krakchemia SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLKRKCH00019"
        }
      },
      {
        "json": {
          "Code": "KCI",
          "Name": "KCI SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPONAR00012"
        }
      },
      {
        "json": {
          "Code": "KER",
          "Name": "Kernel Holding SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "LU0327357389"
        }
      },
      {
        "json": {
          "Code": "KGH",
          "Name": "KGHM Polska Miedz SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLKGHM000017"
        }
      },
      {
        "json": {
          "Code": "KGL",
          "Name": "Korporacja KGL S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLKRKGL00012"
        }
      },
      {
        "json": {
          "Code": "KGN",
          "Name": "Kogeneracja SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLKGNRC00015"
        }
      },
      {
        "json": {
          "Code": "KLE",
          "Name": "Grupa Klepsydra S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "KLN",
          "Name": "KLN",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "KMP",
          "Name": "Przedsiebiorstwo Produkcyjno Handlowe Kompap SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLKOMPP00017"
        }
      },
      {
        "json": {
          "Code": "KOM",
          "Name": "Komputronik S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLKMPTR00012"
        }
      },
      {
        "json": {
          "Code": "KOR",
          "Name": "KOR",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "KPC",
          "Name": "Kupiec SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLKUPIC00010"
        }
      },
      {
        "json": {
          "Code": "KPD",
          "Name": "Koszalinskie Przedsiebiorstwo Przemyslu Drzewnego SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLKPPD000017"
        }
      },
      {
        "json": {
          "Code": "KPI",
          "Name": "Kancelaria Prawna Inkaso Wec SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLKPWEC00015"
        }
      },
      {
        "json": {
          "Code": "KPL",
          "Name": "Kino Polska TV SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLKNOPL00014"
        }
      },
      {
        "json": {
          "Code": "KRI",
          "Name": "Kredyt Inkaso SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLKRINK00014"
        }
      },
      {
        "json": {
          "Code": "KRK",
          "Name": "Krka d. d",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "SI0031102120"
        }
      },
      {
        "json": {
          "Code": "KRU",
          "Name": "Kruk SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLKRK0000010"
        }
      },
      {
        "json": {
          "Code": "KSG",
          "Name": "KSG Agro SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "LU0611262873"
        }
      },
      {
        "json": {
          "Code": "KTY",
          "Name": "Grupa KĘTY SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLKETY000011"
        }
      },
      {
        "json": {
          "Code": "KUB",
          "Name": "Kubota S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "KVT",
          "Name": "Krynica Vitamin SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLKRVTM00010"
        }
      },
      {
        "json": {
          "Code": "LAB",
          "Name": "Labo Print SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLLBPRT00013"
        }
      },
      {
        "json": {
          "Code": "LBT",
          "Name": "Libet S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLLBT0000013"
        }
      },
      {
        "json": {
          "Code": "LBW",
          "Name": "LUBAWA SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLLUBAW00013"
        }
      },
      {
        "json": {
          "Code": "LCN",
          "Name": "Labocanna SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCCTLS00017"
        }
      },
      {
        "json": {
          "Code": "LEG",
          "Name": "Legimi S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "LEN",
          "Name": "Lena Lighting S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLLENAL00015"
        }
      },
      {
        "json": {
          "Code": "LES",
          "Name": "LESS S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "LGT",
          "Name": "Logintrade S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "LKD",
          "Name": "Lokum Deweloper SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLLKMDW00049"
        }
      },
      {
        "json": {
          "Code": "LMG",
          "Name": "Live Motion Games S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "LPP",
          "Name": "LPP S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLLPP0000011"
        }
      },
      {
        "json": {
          "Code": "LPS",
          "Name": "LPS",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "LRQ",
          "Name": "Larq SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCAMMD00032"
        }
      },
      {
        "json": {
          "Code": "LSI",
          "Name": "LSI Software S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLLSSFT00016"
        }
      },
      {
        "json": {
          "Code": "LTM",
          "Name": "Longterm Games S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "LTX",
          "Name": "Zakłady Lentex SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLLENTX00010"
        }
      },
      {
        "json": {
          "Code": "LUG",
          "Name": "LUG S.A",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLLUG0000010"
        }
      },
      {
        "json": {
          "Code": "LUK",
          "Name": "LUK",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "LWB",
          "Name": "Lubelski Wegiel Bogdanka S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLLWBGD00016"
        }
      },
      {
        "json": {
          "Code": "MAB",
          "Name": "Mabion S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMBION00016"
        }
      },
      {
        "json": {
          "Code": "MAD",
          "Name": "MAD",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "MAK",
          "Name": "Makarony Polskie S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMKRNP00015"
        }
      },
      {
        "json": {
          "Code": "MAN",
          "Name": "Manydev Studio SE",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "MBK",
          "Name": "mBank SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBRE0000012"
        }
      },
      {
        "json": {
          "Code": "MBR",
          "Name": "Mo-Bruk SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMOBRK00013"
        }
      },
      {
        "json": {
          "Code": "MBW",
          "Name": "Marie Brizard Wine & Spirits",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "FR0000060873"
        }
      },
      {
        "json": {
          "Code": "MCD",
          "Name": "Mycodern S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "MCI",
          "Name": "MCI Management SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMCIMG00012"
        }
      },
      {
        "json": {
          "Code": "MCR",
          "Name": "Mercor S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMRCOR00016"
        }
      },
      {
        "json": {
          "Code": "MDA",
          "Name": "MedApp S.A",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "MDB",
          "Name": "Medicofarma Biotech S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "MDG",
          "Name": "Medicalg",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMDCLG00015"
        }
      },
      {
        "json": {
          "Code": "MDI",
          "Name": "MDI Energia S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLNFI1000012"
        }
      },
      {
        "json": {
          "Code": "MDP",
          "Name": "Medcamp S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "MEG",
          "Name": "Megaron SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMGRON00016"
        }
      },
      {
        "json": {
          "Code": "MER",
          "Name": "MER",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "MEX",
          "Name": "Mex Polska S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMEXPL00010"
        }
      },
      {
        "json": {
          "Code": "MFD",
          "Name": "M Food S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "MFO",
          "Name": "MFO SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMFO0000013"
        }
      },
      {
        "json": {
          "Code": "MGT",
          "Name": "Mangata Holding S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLZTKMA00017"
        }
      },
      {
        "json": {
          "Code": "MIL",
          "Name": "Bank Millennium S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBIG0000016"
        }
      },
      {
        "json": {
          "Code": "MIR",
          "Name": "Miraculum SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLKLSTN00017"
        }
      },
      {
        "json": {
          "Code": "MLB",
          "Name": "Makolab",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMKLAB00023"
        }
      },
      {
        "json": {
          "Code": "MLG",
          "Name": "MLP Group S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMLPGR00017"
        }
      },
      {
        "json": {
          "Code": "MLK",
          "Name": "Mlk Foods Public Company Ltd",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "NL0009508712"
        }
      },
      {
        "json": {
          "Code": "MLM",
          "Name": "Milisystem S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "MLP",
          "Name": "Milkpol SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMLKPL00012"
        }
      },
      {
        "json": {
          "Code": "MLS",
          "Name": "ML System S.A",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMLSTM00015"
        }
      },
      {
        "json": {
          "Code": "MMC",
          "Name": "MMC",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "MNC",
          "Name": "Mennica Polska S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMNNCP00011"
        }
      },
      {
        "json": {
          "Code": "MND",
          "Name": "MND",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "MNS",
          "Name": "Mennica Skarbowa SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLGRMNK00014"
        }
      },
      {
        "json": {
          "Code": "MO2",
          "Name": "Moliera2 S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "MOC",
          "Name": "Molecure S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "MOJ",
          "Name": "MOJ S.A",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMOJ0000015"
        }
      },
      {
        "json": {
          "Code": "MOL",
          "Name": "MOL PLC",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "HU0000153937"
        }
      },
      {
        "json": {
          "Code": "MON",
          "Name": "Monnari Trade S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMNRTR00012"
        }
      },
      {
        "json": {
          "Code": "MOV",
          "Name": "Movie Games S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "MPS",
          "Name": "MegaPixel Studio S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "MPY",
          "Name": "MPY",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "MRB",
          "Name": "Mirbud SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMRBUD00015"
        }
      },
      {
        "json": {
          "Code": "MRC",
          "Name": "Mercator Medical S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMRCTR00015"
        }
      },
      {
        "json": {
          "Code": "MSP",
          "Name": "MOSTOSTAL Płock SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMSTPL00018"
        }
      },
      {
        "json": {
          "Code": "MSW",
          "Name": "Mostostal Warszawa S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMSTWS00019"
        }
      },
      {
        "json": {
          "Code": "MSZ",
          "Name": "Mostostal Zabrze - Holding SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMSTZB00018"
        }
      },
      {
        "json": {
          "Code": "MTN",
          "Name": "Milton Essex S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "MUR",
          "Name": "Murapol S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "MVP",
          "Name": "Marvipol S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMRVDV00011"
        }
      },
      {
        "json": {
          "Code": "MVR",
          "Name": "Movie Games VR S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "MWT",
          "Name": "MW Trade S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMWTRD00013"
        }
      },
      {
        "json": {
          "Code": "MXC",
          "Name": "Maxcom SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMXCMS00016"
        }
      },
      {
        "json": {
          "Code": "MZA",
          "Name": "Muza S.A",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMUZA000019"
        }
      },
      {
        "json": {
          "Code": "NCL",
          "Name": "Noctiluca S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "NEU",
          "Name": "Neuca S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTRFRM00018"
        }
      },
      {
        "json": {
          "Code": "NGG",
          "Name": "NGG",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "NNG",
          "Name": "Nanogroup SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLNNGRP00011"
        }
      },
      {
        "json": {
          "Code": "NOB",
          "Name": "Noobz from Poland S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "NOV",
          "Name": "Novina S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "NRS",
          "Name": "Neurone Studio S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "NST",
          "Name": "Nestmedic S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "NTC",
          "Name": "New Tech Capital S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "NTS",
          "Name": "Notoria",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLNTRSW00019"
        }
      },
      {
        "json": {
          "Code": "NTT",
          "Name": "NTT System SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLNTSYS00013"
        }
      },
      {
        "json": {
          "Code": "NTU",
          "Name": "Novaturas AB",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "NTV",
          "Name": "New Tech Venture S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "NVA",
          "Name": "PA Nova S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPANVA00013"
        }
      },
      {
        "json": {
          "Code": "NVG",
          "Name": "Novavis Group SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLNFI0500012"
        }
      },
      {
        "json": {
          "Code": "NVT",
          "Name": "Novita S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLNVITA00018"
        }
      },
      {
        "json": {
          "Code": "NWA",
          "Name": "Nwai",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLNWAI000017"
        }
      },
      {
        "json": {
          "Code": "NWG",
          "Name": "Newag S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLNEWAG00012"
        }
      },
      {
        "json": {
          "Code": "NXB",
          "Name": "Nextbike Polska SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLNXTBK00018"
        }
      },
      {
        "json": {
          "Code": "NXG",
          "Name": "Nexity Global SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLWDMCP00013"
        }
      },
      {
        "json": {
          "Code": "O2T",
          "Name": "One2tribe S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "OBL",
          "Name": "Orzeł Biały SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLORZBL00013"
        }
      },
      {
        "json": {
          "Code": "ODL",
          "Name": "Odlewnie Polskie SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLODLPL00013"
        }
      },
      {
        "json": {
          "Code": "OEX",
          "Name": "OEX S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTELL000023"
        }
      },
      {
        "json": {
          "Code": "OLY",
          "Name": "Olymp S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "OML",
          "Name": "One More Level SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLLSRMD00018"
        }
      },
      {
        "json": {
          "Code": "OND",
          "Name": "Onde SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLONDE000018"
        }
      },
      {
        "json": {
          "Code": "ONE",
          "Name": "One Solution S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "ONO",
          "Name": "onesano S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "OPG",
          "Name": "Cpi Fim SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "LU0122624777"
        }
      },
      {
        "json": {
          "Code": "OPI",
          "Name": "Optigis S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "OPL",
          "Name": "OrangePL",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTLKPL00017"
        }
      },
      {
        "json": {
          "Code": "OPM",
          "Name": "OpTeam S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLOPTEM00012"
        }
      },
      {
        "json": {
          "Code": "OPN",
          "Name": "Oponeo.pl SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLOPNPL00013"
        }
      },
      {
        "json": {
          "Code": "ORG",
          "Name": "ORG",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "ORL",
          "Name": "Orzel SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLORZL000019"
        }
      },
      {
        "json": {
          "Code": "OTM",
          "Name": "Zaklady Przemyslu Cukierniczego Otmuchow S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLZPCOT00018"
        }
      },
      {
        "json": {
          "Code": "OTS",
          "Name": "OT Logistics S.A",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLODRTS00017"
        }
      },
      {
        "json": {
          "Code": "OUT",
          "Name": "OUT",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "OVI",
          "Name": "Ovid Works Sa",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLOVIDW00014"
        }
      },
      {
        "json": {
          "Code": "OVO",
          "Name": "Ovostar Union N.V.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "NL0009805613"
        }
      },
      {
        "json": {
          "Code": "OZE",
          "Name": "Oze Capital SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCSYSA00016"
        }
      },
      {
        "json": {
          "Code": "P24",
          "Name": "Present24 SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPRS2400012"
        }
      },
      {
        "json": {
          "Code": "P2B",
          "Name": "P2B",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "P2C",
          "Name": "Play2Chill SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPLCHL00019"
        }
      },
      {
        "json": {
          "Code": "PAS",
          "Name": "Passus S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "PAT",
          "Name": "Patentus SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPTNTS00019"
        }
      },
      {
        "json": {
          "Code": "PBB",
          "Name": "Prefabet Biale Blota SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPRFBT00015"
        }
      },
      {
        "json": {
          "Code": "PBF",
          "Name": "PBS Finanse SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBEFSN00010"
        }
      },
      {
        "json": {
          "Code": "PBG",
          "Name": "PBG SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPBG0000029"
        }
      },
      {
        "json": {
          "Code": "PBT",
          "Name": "PBT",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "PBX",
          "Name": "Poznanska Korporacja Budowlana Pekabex SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPKBEX00072"
        }
      },
      {
        "json": {
          "Code": "PCE",
          "Name": "Grupa Azoty Zaklady Chemiczne Police SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLZCPLC00036"
        }
      },
      {
        "json": {
          "Code": "PCF",
          "Name": "PCF Group SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPCFGR00010"
        }
      },
      {
        "json": {
          "Code": "PCO",
          "Name": "Pepco Group B.V.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "NL0015000AU7"
        }
      },
      {
        "json": {
          "Code": "PCR",
          "Name": "PCC Rokita SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPCCRK00076"
        }
      },
      {
        "json": {
          "Code": "PCX",
          "Name": "PCC Exol SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPCCEX00010"
        }
      },
      {
        "json": {
          "Code": "PDG",
          "Name": "Pyramid Games S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "PEN",
          "Name": "Photon Energy N.V.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "NL0010391108"
        }
      },
      {
        "json": {
          "Code": "PEO",
          "Name": "Bank Polska Kasa Opieki SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPEKAO00016"
        }
      },
      {
        "json": {
          "Code": "PEP",
          "Name": "PolEnergia S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPLSEP00013"
        }
      },
      {
        "json": {
          "Code": "PGE",
          "Name": "PGE Polska Grupa Energetyczna SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPGER000010"
        }
      },
      {
        "json": {
          "Code": "PGM",
          "Name": "PMPG Polskie Media S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPEKPL00010"
        }
      },
      {
        "json": {
          "Code": "PGV",
          "Name": "PGF Polska Grupa Fotowoltaiczna SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLZSTAL00012"
        }
      },
      {
        "json": {
          "Code": "PHN",
          "Name": "Polski Holding Nieruchomości SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPHN0000014"
        }
      },
      {
        "json": {
          "Code": "PHR",
          "Name": "Pharmena S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPHRMN00011"
        }
      },
      {
        "json": {
          "Code": "PIT",
          "Name": "PIT",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "PIX",
          "Name": "Pixel Crow Games SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLWKPRK00010"
        }
      },
      {
        "json": {
          "Code": "PJP",
          "Name": "PJP Makrum S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPROJP00018"
        }
      },
      {
        "json": {
          "Code": "PKN",
          "Name": "Polski Koncern Naftowy ORLEN SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPKN0000018"
        }
      },
      {
        "json": {
          "Code": "PKO",
          "Name": "Powszechna Kasa Oszczednosci Bank Polski SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPKO0000016"
        }
      },
      {
        "json": {
          "Code": "PKP",
          "Name": "PKP Cargo S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPKPCR00011"
        }
      },
      {
        "json": {
          "Code": "PLI",
          "Name": "PLI",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "PLM",
          "Name": "PLM",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "PLW",
          "Name": "PLAYWAY SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPLAYW00015"
        }
      },
      {
        "json": {
          "Code": "PLZ",
          "Name": "Plaza Centers NV",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "NL0011882741"
        }
      },
      {
        "json": {
          "Code": "PMA",
          "Name": "Prima Moda SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPRMMD00012"
        }
      },
      {
        "json": {
          "Code": "PMP",
          "Name": "Pamapol S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPMPOL00031"
        }
      },
      {
        "json": {
          "Code": "PNT",
          "Name": "Pointpack.pl S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "PPS",
          "Name": "Przedsiebiorstwo Przemyslu Spozywczego PEPEES S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPEPES00018"
        }
      },
      {
        "json": {
          "Code": "PRI",
          "Name": "Pragma Inkaso S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPRGNK00017"
        }
      },
      {
        "json": {
          "Code": "PRM",
          "Name": "Prochem S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPRCHM00014"
        }
      },
      {
        "json": {
          "Code": "PRN",
          "Name": "PRN",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "PRO",
          "Name": "PRO",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "PRS",
          "Name": "PRS",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "PRT",
          "Name": "Protektor S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLLZPSK00019"
        }
      },
      {
        "json": {
          "Code": "PSHE",
          "Name": "Porsche Automobil Holding SE Pfd.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "PTG",
          "Name": "PolTREG S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPLTRG00038"
        }
      },
      {
        "json": {
          "Code": "PTN",
          "Name": "PTN",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "PTW",
          "Name": "Wspierania Przedsiebiorczosci",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPTWP000015"
        }
      },
      {
        "json": {
          "Code": "PUR",
          "Name": "Pure Biologics Spólka Akcyjna",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPRBLG00010"
        }
      },
      {
        "json": {
          "Code": "PWX",
          "Name": "Polwax SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPOLWX00026"
        }
      },
      {
        "json": {
          "Code": "PXM",
          "Name": "Polimex-Mostostal S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMSTSD00019"
        }
      },
      {
        "json": {
          "Code": "PZU",
          "Name": "Powszechny Zaklad Ubezpieczen SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPZU0000011"
        }
      },
      {
        "json": {
          "Code": "QNT",
          "Name": "Quantum Software SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLQNTUM00018"
        }
      },
      {
        "json": {
          "Code": "QON",
          "Name": "Quarticon SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLQRTCN00015"
        }
      },
      {
        "json": {
          "Code": "QRS",
          "Name": "Quercus TFI SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLQRCUS00012"
        }
      },
      {
        "json": {
          "Code": "QRT",
          "Name": "QRT",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "QUB",
          "Name": "QUB",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "RAE",
          "Name": "Raen S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "RAF",
          "Name": "Fabryka Obrabiarek RAFAMET S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLRFMET00016"
        }
      },
      {
        "json": {
          "Code": "RBS",
          "Name": "RBS",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "RBW",
          "Name": "Rainbow Tours SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLRNBWT00031"
        }
      },
      {
        "json": {
          "Code": "RCA",
          "Name": "Rocca SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLROCCA00013"
        }
      },
      {
        "json": {
          "Code": "RCM",
          "Name": "Red Carpet Media S/A",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "RCW",
          "Name": "Ruch Chorzow SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLRCHZW00012"
        }
      },
      {
        "json": {
          "Code": "RDG",
          "Name": "Readgene",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLRADGN00014"
        }
      },
      {
        "json": {
          "Code": "RDN",
          "Name": "Redan S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLREDAN00019"
        }
      },
      {
        "json": {
          "Code": "RFK",
          "Name": "RAFAKO SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLRAFAK00018"
        }
      },
      {
        "json": {
          "Code": "RGL",
          "Name": "Robs Group Logistic S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "RHD",
          "Name": "Reinhold Europe AB",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "SE0001856519"
        }
      },
      {
        "json": {
          "Code": "RLP",
          "Name": "Relpol SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLRELPL00014"
        }
      },
      {
        "json": {
          "Code": "RMK",
          "Name": "REMAK SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLREMAK00016"
        }
      },
      {
        "json": {
          "Code": "RNC",
          "Name": "Reino Capital SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLWDM0000029"
        }
      },
      {
        "json": {
          "Code": "RND",
          "Name": "Render Cube S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "RNK",
          "Name": "Rank Progress S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLRNKPR00014"
        }
      },
      {
        "json": {
          "Code": "RPC",
          "Name": "Zaklady Magnezytowe Ropczyce S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLROPCE00017"
        }
      },
      {
        "json": {
          "Code": "RRH",
          "Name": "Roof Renovation S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "RSP",
          "Name": "RSP",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "RST",
          "Name": "Road Studio S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "RVU",
          "Name": "Ryvu Therapeutics SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSELVT00013"
        }
      },
      {
        "json": {
          "Code": "RWL",
          "Name": "Rawlplug S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLKLNR000017"
        }
      },
      {
        "json": {
          "Code": "SAN",
          "Name": "Banco Santander S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "ES0113900J37"
        }
      },
      {
        "json": {
          "Code": "SBE",
          "Name": "Softblue SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSFTBL00012"
        }
      },
      {
        "json": {
          "Code": "SCP",
          "Name": "Scope Fluidics SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSCPFL00018"
        }
      },
      {
        "json": {
          "Code": "SCS",
          "Name": "SCS",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "SCW",
          "Name": "Scanway SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "SDG",
          "Name": "Sundragon S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "SDS",
          "Name": "SDS Optic S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "SED",
          "Name": "Sedivio S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "SEK",
          "Name": "Seko S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSEKO000014"
        }
      },
      {
        "json": {
          "Code": "SEL",
          "Name": "Selena FM S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSELNA00010"
        }
      },
      {
        "json": {
          "Code": "SEN",
          "Name": "Serinus Energy Inc.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "JE00BF4N9R98"
        }
      },
      {
        "json": {
          "Code": "SES",
          "Name": "Sescom SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSESCM00013"
        }
      },
      {
        "json": {
          "Code": "SEV",
          "Name": "Sevenet",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSVNET00019"
        }
      },
      {
        "json": {
          "Code": "SFD",
          "Name": "SFD",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "SFG",
          "Name": "Silvano Fashion Group AS",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "EE3100001751"
        }
      },
      {
        "json": {
          "Code": "SFS",
          "Name": "Sfinks Polska S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSFNKS00011"
        }
      },
      {
        "json": {
          "Code": "SGN",
          "Name": "Sygnity SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCMPLD00016"
        }
      },
      {
        "json": {
          "Code": "SGR",
          "Name": "Sadovaya Group S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "LU0564351582"
        }
      },
      {
        "json": {
          "Code": "SHD",
          "Name": "Soho Development SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLNFI0400015"
        }
      },
      {
        "json": {
          "Code": "SHG",
          "Name": "Starhedge SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLHRDEX00021"
        }
      },
      {
        "json": {
          "Code": "SHO",
          "Name": "Shoper S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSHPR000021"
        }
      },
      {
        "json": {
          "Code": "SHY",
          "Name": "Sheepyard S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "SIM",
          "Name": "SimFabric S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "SIN",
          "Name": "Solar Innovation SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTABLO00012"
        }
      },
      {
        "json": {
          "Code": "SKA",
          "Name": "Fabryka Farb i Lakierów ŚNIEŻKA SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSNZKA00033"
        }
      },
      {
        "json": {
          "Code": "SKH",
          "Name": "Skarbiec Holding S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSKRBH00014"
        }
      },
      {
        "json": {
          "Code": "SKL",
          "Name": "Skyline Investment S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSKLNW00011"
        }
      },
      {
        "json": {
          "Code": "SKN",
          "Name": "Sakana SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSAKAN00010"
        }
      },
      {
        "json": {
          "Code": "SLT",
          "Name": "Saule Technologies S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "SLV",
          "Name": "Selvita S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSLVCR00029"
        }
      },
      {
        "json": {
          "Code": "SMT",
          "Name": "Simteract S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "SNG",
          "Name": "SNG",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "SNK",
          "Name": "Stomil Sanok SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSTLSK00016"
        }
      },
      {
        "json": {
          "Code": "SNT",
          "Name": "Synektik S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSNKTK00019"
        }
      },
      {
        "json": {
          "Code": "SNW",
          "Name": "Sanwil Holding SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSANWL00012"
        }
      },
      {
        "json": {
          "Code": "SNX",
          "Name": "SUNEX S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSUNEX00013"
        }
      },
      {
        "json": {
          "Code": "SON",
          "Name": "Sonel S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSONEL00011"
        }
      },
      {
        "json": {
          "Code": "SPH",
          "Name": "Sopharma AD",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "BG11SOSOBT18"
        }
      },
      {
        "json": {
          "Code": "SPL",
          "Name": "Santander Bank Polska SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBZ00000044"
        }
      },
      {
        "json": {
          "Code": "SPR",
          "Name": "Spyrosoft S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "STA",
          "Name": "Starward Industries S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "STD",
          "Name": "STD",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "STF",
          "Name": "Stalprofil S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSTLPF00012"
        }
      },
      {
        "json": {
          "Code": "STP",
          "Name": "Stalprodukt SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSTLPD00017"
        }
      },
      {
        "json": {
          "Code": "STS",
          "Name": "Satis Group S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLADVPL00029"
        }
      },
      {
        "json": {
          "Code": "STX",
          "Name": "Stalexport Autostrady SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSTLEX00019"
        }
      },
      {
        "json": {
          "Code": "SUN",
          "Name": "SUN",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "SVE",
          "Name": "Synthaverse S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBMDLB00018"
        }
      },
      {
        "json": {
          "Code": "SVRS",
          "Name": "Silvair Inc",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "USU827061099"
        }
      },
      {
        "json": {
          "Code": "SWG",
          "Name": "Seco/Warwick SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLWRWCK00013"
        }
      },
      {
        "json": {
          "Code": "SWM",
          "Name": "SOFTWARE MANSION SPOLKA AKCYJNA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSFTMN00015"
        }
      },
      {
        "json": {
          "Code": "SYG",
          "Name": "Sygnis SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMODE000019"
        }
      },
      {
        "json": {
          "Code": "SZR",
          "Name": "Szar",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSZAR000018"
        }
      },
      {
        "json": {
          "Code": "T2P",
          "Name": "Termo2Power SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTRMPR00017"
        }
      },
      {
        "json": {
          "Code": "TAR",
          "Name": "Tarczynski S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTRCZN00016"
        }
      },
      {
        "json": {
          "Code": "TBL",
          "Name": "T-Bull S.A",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTBULL00024"
        }
      },
      {
        "json": {
          "Code": "TEN",
          "Name": "TEN SQUARE GAMES SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTSQGM00016"
        }
      },
      {
        "json": {
          "Code": "TGS",
          "Name": "True Games Syndicate S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "THD",
          "Name": "THD",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "THG",
          "Name": "TenderHut S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "TIM",
          "Name": "Tim S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTIM0000016"
        }
      },
      {
        "json": {
          "Code": "TLG",
          "Name": "TLG",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "TLS",
          "Name": "Telestrada SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "TLT",
          "Name": "TLT",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "TLX",
          "Name": "Talex S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTALEX00017"
        }
      },
      {
        "json": {
          "Code": "TME",
          "Name": "TME",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "TMP",
          "Name": "Telemedpl",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTLMDC00018"
        }
      },
      {
        "json": {
          "Code": "TMR",
          "Name": "Tatry Mountain",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "SK1120010287"
        }
      },
      {
        "json": {
          "Code": "TOA",
          "Name": "Toya SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTOYA000011"
        }
      },
      {
        "json": {
          "Code": "TOR",
          "Name": "Torpol SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTORPL00016"
        }
      },
      {
        "json": {
          "Code": "TOS",
          "Name": "TOS",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "TOW",
          "Name": "Tower Investments SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTWRNV00013"
        }
      },
      {
        "json": {
          "Code": "TPE",
          "Name": "Tauron Polska Energia S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTAURN00011"
        }
      },
      {
        "json": {
          "Code": "TRI",
          "Name": "Triton Development S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLASMOT00030"
        }
      },
      {
        "json": {
          "Code": "TRK",
          "Name": "Trakcja PRKiI S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTRKPL00014"
        }
      },
      {
        "json": {
          "Code": "TRN",
          "Name": "Trans Polonia S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTRNSP00013"
        }
      },
      {
        "json": {
          "Code": "TRR",
          "Name": "Termorex",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTRMRX00011"
        }
      },
      {
        "json": {
          "Code": "TSG",
          "Name": "TESGAS S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLTSGS000019"
        }
      },
      {
        "json": {
          "Code": "TXN",
          "Name": "TXN",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "TXT",
          "Name": "Text S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLLVTSF00010"
        }
      },
      {
        "json": {
          "Code": "UCG",
          "Name": "UniCredit S.p.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "IT0005239360"
        }
      },
      {
        "json": {
          "Code": "UFC",
          "Name": "Unified Factory S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "UFG",
          "Name": "UF Games S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "ULG",
          "Name": "Ultimate Games SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLULTGM00013"
        }
      },
      {
        "json": {
          "Code": "ULM",
          "Name": "ULMA Construccion Polska SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLBAUMA00017"
        }
      },
      {
        "json": {
          "Code": "UNF",
          "Name": "Unfold.vc ASI S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "UNI",
          "Name": "UNIBEP S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLUNBEP00015"
        }
      },
      {
        "json": {
          "Code": "UNL",
          "Name": "United Label S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "UNT",
          "Name": "Unimot S.A",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLUNMOT00013"
        }
      },
      {
        "json": {
          "Code": "UNV",
          "Name": "Universe S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "URT",
          "Name": "Urteste SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLURTST00010"
        }
      },
      {
        "json": {
          "Code": "VAR",
          "Name": "Varsav Game Studios S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "VEE",
          "Name": "Vee S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "VER",
          "Name": "MPL Verbum S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLMPLVR00016"
        }
      },
      {
        "json": {
          "Code": "VGO",
          "Name": "Vigo System SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLVIGOS00015"
        }
      },
      {
        "json": {
          "Code": "VIN",
          "Name": "Gielda Praw Majatkowych Vindexus S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLVNDEX00013"
        }
      },
      {
        "json": {
          "Code": "VKT",
          "Name": "Vakomtek",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLVKMTK00015"
        }
      },
      {
        "json": {
          "Code": "VLT",
          "Name": "VOOLT S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "VOT",
          "Name": "Votum SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLVOTUM00016"
        }
      },
      {
        "json": {
          "Code": "VOW",
          "Name": "Volkswagen AG Non-Vtg Pfd.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "VOX",
          "Name": "Voxel S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLVOXEL00014"
        }
      },
      {
        "json": {
          "Code": "VRB",
          "Name": "Verbicom",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLVRBCM00015"
        }
      },
      {
        "json": {
          "Code": "VRC",
          "Name": "Vercom SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLVRCM000016"
        }
      },
      {
        "json": {
          "Code": "VRF",
          "Name": "VR Factory Games SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSFLND00011"
        }
      },
      {
        "json": {
          "Code": "VRG",
          "Name": "VRG SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLVSTLA00011"
        }
      },
      {
        "json": {
          "Code": "VTL",
          "Name": "Vistal Gdynia",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLVTLGD00010"
        }
      },
      {
        "json": {
          "Code": "VVD",
          "Name": "Vivid Games S.A",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLVVDGM00014"
        }
      },
      {
        "json": {
          "Code": "WAS",
          "Name": "Wasko S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLHOGA000041"
        }
      },
      {
        "json": {
          "Code": "WHH",
          "Name": "Werth Holz SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLWRTHL00016"
        }
      },
      {
        "json": {
          "Code": "WIK",
          "Name": "Wikana SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLELPO000016"
        }
      },
      {
        "json": {
          "Code": "WIS",
          "Name": "Baltic Bridge S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLARIEL00046"
        }
      },
      {
        "json": {
          "Code": "WLT",
          "Name": "Wielton S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLWELTN00012"
        }
      },
      {
        "json": {
          "Code": "WOD",
          "Name": "Wodkan Wodociagow Kanalizacji",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLWDKAN00016"
        }
      },
      {
        "json": {
          "Code": "WOJ",
          "Name": "Wojas SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLWOJAS00014"
        }
      },
      {
        "json": {
          "Code": "WPL",
          "Name": "Wirtualna Polska Holding SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLWRTPL00027"
        }
      },
      {
        "json": {
          "Code": "WPR",
          "Name": "Woodpecker.co. S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "WRE",
          "Name": "West Real Estate SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLWREST00018"
        }
      },
      {
        "json": {
          "Code": "WRL",
          "Name": "Wierzycl",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLWRZCL00014"
        }
      },
      {
        "json": {
          "Code": "WTN",
          "Name": "Wittchen SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLWTCHN00030"
        }
      },
      {
        "json": {
          "Code": "WWL",
          "Name": "WAWEL SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLWAWEL00013"
        }
      },
      {
        "json": {
          "Code": "WXF",
          "Name": "Warimpex Finanz- und Beteiligungs AG",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "AT0000827209"
        }
      },
      {
        "json": {
          "Code": "XBS",
          "Name": "XBS Pro Log SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPROLG00013"
        }
      },
      {
        "json": {
          "Code": "XPL",
          "Name": "Xplus SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLXPLUS00013"
        }
      },
      {
        "json": {
          "Code": "XTB",
          "Name": "X Trade Brokers Dom Maklerski SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLXTRDM00011"
        }
      },
      {
        "json": {
          "Code": "XTP",
          "Name": "XTPL SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLXTPL000018"
        }
      },
      {
        "json": {
          "Code": "YAN",
          "Name": "Neptis",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLNEPTS00011"
        }
      },
      {
        "json": {
          "Code": "YOL",
          "Name": "Yolo SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLPRESC00018"
        }
      },
      {
        "json": {
          "Code": "YOS",
          "Name": "Yoshi Innovation SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLACREO00019"
        }
      },
      {
        "json": {
          "Code": "ZAL",
          "Name": "Zalando SE",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "ZAP",
          "Name": "Grupa Azoty Zaklady Azotowe Pulawy SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLZAPUL00057"
        }
      },
      {
        "json": {
          "Code": "ZEN",
          "Name": "Zeneris Projekty S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "ZEP",
          "Name": "Zespol Elektrowni Patnow Adamow Konin SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLZEPAK00012"
        }
      },
      {
        "json": {
          "Code": "ZMT",
          "Name": "Zamet Industry SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLZAMET00010"
        }
      },
      {
        "json": {
          "Code": "ZRE",
          "Name": "Zaklad Budowy Maszyn ZREMB-CHOJNICE S.A.",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": null
        }
      },
      {
        "json": {
          "Code": "ZRX",
          "Name": "Zortrax SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLCRLNS00018"
        }
      },
      {
        "json": {
          "Code": "ZUE",
          "Name": "ZUE SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLZUE0000015"
        }
      },
      {
        "json": {
          "Code": "ZUK",
          "Name": "Zaklady Urzadzen Kotlowych Staporkow SA",
          "Country": "Poland",
          "Exchange": "WAR",
          "Currency": "PLN",
          "Type": "Common Stock",
          "Isin": "PLSTPRK00019"
        }
      }
    ]
  },
  "connections": {
    "Cena poniżej założonej?": {
      "main": [
        [
          {
            "node": "Powiadom o niskiej cenie",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cena powyżej założonej?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Powiadom o błędzie": {
      "main": [
        [
          {
            "node": "Zakończ pracę",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Codziennie o 17": {
      "main": [
        [
          {
            "node": "Set - Ustaw wartości początkowe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cena powyżej założonej?": {
      "main": [
        [
          {
            "node": "Powiadom o wysokiej cenie",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Zakończ pracę",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit - tylko najnowszy wynik": {
      "main": [
        [
          {
            "node": "Cena poniżej założonej?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sprawdź cenę akcji": {
      "main": [
        [
          {
            "node": "Limit - tylko najnowszy wynik",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait - Czekaj",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait - Czekaj": {
      "main": [
        [
          {
            "node": "IF - cztery próby?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - cztery próby?": {
      "main": [
        [
          {
            "node": "Powiadom o błędzie",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "sprawdź cenę akcji",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Ustaw wartości początkowe": {
      "main": [
        [
          {
            "node": "sprawdź cenę akcji",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9f87363e-f9ef-4471-89d4-d43785b01048",
  "meta": {
    "templateId": "704",
    "templateCredsSetupCompleted": true,
    "instanceId": "REDACTED_INSTANCE_ID"
  },
  "id": "REDACTED_CREDENTIAL_ID",
  "tags": [
    {
      "createdAt": "2024-06-03T19:23:29.027Z",
      "updatedAt": "2024-06-03T19:23:29.027Z",
      "id": "REDACTED_CREDENTIAL_ID",
      "name": ""
    },
    {
      "createdAt": "2024-06-09T11:19:43.889Z",
      "updatedAt": "2024-06-09T11:19:43.889Z",
      "id": "REDACTED_CREDENTIAL_ID",
      "name": ""
    }
  ]
}