Eximauto_send_sms.json
{
  "name": "Eximauto_send_sms",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "YOUR_WEBHOOK_PATH",
        "authentication": "headerAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "72975d55-a1d4-4400-82f7-ce1331a9e36f",
      "name": "Webhook",
      "webhookId": "YOUR_WEBHOOK_ID_1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_HEADER_AUTH_CREDENTIAL_ID",
          "name": "Exim-secret"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "88ddc9af-a35c-41fb-9189-3bc87756c285",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "200a4e7a-795a-4523-b7fa-77563154b59e",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "message": "=Czy wysłać opinie \nFirma {{ $json.body.nazwa_skrocona }}\nNumer rejestracyjny {{ $json.body.nr_rejestracyjny }}\nTelefon {{ $json.body.telefon }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        220,
        0
      ],
      "id": "e568b661-b7fe-4319-8d46-de603d889093",
      "name": "Send message and wait for response",
      "webhookId": "YOUR_WEBHOOK_ID_2",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=Nie wysłano sms do  {{ $('Webhook').item.json.body.nazwa_skrocona }}\nNumer rejestracyjny {{ $('Webhook').item.json.body.nr_rejestracyjny }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        100
      ],
      "id": "ca10062c-ebee-44bc-97fc-6366946a7f3c",
      "name": "Send a text message",
      "webhookId": "YOUR_WEBHOOK_ID_3",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api2.smsplanet.pl/sms",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "YOUR_SMS_SENDER_NAME"
            },
            {
              "name": "to",
              "value": "={{ $('Webhook').item.json.body.telefon }}"
            },
            {
              "name": "msg",
              "value": "=Dzień dobry! Twój pojazd jest gotowy do odbioru. Zapraszamy"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        -100
      ],
      "id": "c765fb35-7ddc-43b5-8d76-0620eaacdfdb",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "chatId": "YOUR_TELEGRAM_CHAT_ID",
        "text": "=Wysłano sms do  {{ $('Webhook').item.json.body.nazwa_skrocona }}\nNumer rejestracyjny {{ $('Webhook').item.json.body.nr_rejestracyjny }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        880,
        -100
      ],
      "id": "532c7999-ccd6-49b4-9e19-9b2594164311",
      "name": "Send a text message1",
      "webhookId": "YOUR_WEBHOOK_ID_4",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "YOUR_DOMAIN",
            "connection": "close",
            "x-forwarded-for": "XXX.XXX.XXX.XXX",
            "x-forwarded-proto": "https",
            "https": "on",
            "content-length": "112",
            "x-api-key": "YOUR_API_KEY_HASH",
            "accept-encoding": "gzip, br",
            "user-agent": "Mozilla/5.0 (Windows NT; Windows NT 10.0; pl-PL) WindowsPowerShell/5.1.20348.2849",
            "content-type": "application/json; charset=utf-8",
            "cf-ray": "XXXXXXXXXXXXXXXX-XXX",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "XXX.XXX.XXX.XXX",
            "cf-ipcountry": "PL",
            "cf-visitor": "{\"scheme\":\"https\"}"
          },
          "params": {},
          "query": {},
          "body": {
            "nr_rejestracyjny": "TST001",
            "telefon": "500123456",
            "nazwa_skrocona": "Test Sp. z o.o."
          },
          "webhookUrl": "https://YOUR_DOMAIN/webhook-test/YOUR_WEBHOOK_PATH",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "YOUR_WORKFLOW_VERSION_ID",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_N8N_INSTANCE_ID"
  },
  "id": "YOUR_WORKFLOW_ID",
  "tags": []
}